<div class="page" id="account_backSetPwd" data-pageTitle="驳回密码设置">
	<header class="header">
    	<h3>开户进度</h3>
    </header>
	<section class="main">   
        <div class="error_notice">
        	<h5>设置密码不通过！</h5>
			<p>两次输入的密码不符，请重新输入。</p>
        </div>
        <div class="user_form">
        	<h5 class="title">设置交易密码：（进行证券交易时使用）</h5>
        	<div class="input_form circular">
            	<div class="input_text">
                	<span>交易密码</span><input type="password" pattern="\d*" id="pass1" placeholder="请输入6位数字交易密码" class="t1" value="" readonly="readonly"/>
                </div>
                <div class="input_text">
                	<span>再次输入</span><input type="password" pattern="\d*" id="pass2" placeholder="请再次输入交易密码" class="t1" value="" readonly="readonly"/>
                </div>
            </div>
            <div class="rule_check mt15">
            	<a href="javascript:void(0)" class="icon_check">资金密码与交易密码相同</a>
            </div>
            <h5 class="title" style="display: none">设置资金密码：（进行资金转入和转出时使用）</h5>
            <div class="input_form circular" style="display: none">
            	<div class="input_text">
                	<span>资金密码</span><input type="password" pattern="\d*" id="pass3" class="t1" placeholder="请输入6位数字资金密码" readonly="readonly"/>
                </div>
                <div class="input_text">
                	<span>再次输入</span><input type="password" pattern="\d*" id="pass4" class="t1" placeholder="请再次输入资金密码" readonly="readonly"/>
                </div>
            </div>
            <p class="mt10">资金密码在进行资金转入和转出时使用</p>
            <p class="l_link none mt5">阅读<a href="javascript:void(0)" id="protocolName"></a></p>
            <div class="rule_check mt5" id="checkprotocol">
            	<a href="javascript:void(0)" class="icon_check checked">我已阅读并同意上述协议</a>
            </div>
        </div>
    </section>
    <div class="fix_bot">
		<div class="ct_btn">
        	<a href="javascript:void(0)">确&nbsp;&nbsp;&nbsp;认</a>
        </div>
    </div>
</div>