<div class="page" id="guide_guidePage" data-pageTitle="引导页面" data-pageLevel="1">
	<div class="yd_num"><em></em><em></em><em class="active"></em></div>
	<div id="wrapper_guide_guidePage" data-iscrollPageId="guide_guidePage" style="overflow:hidden;width:100%;position:absolute;height:100%;">
		<ul class="yd_list" id="scroller_guide_guidePage">
	    	<li></li>
	        <li></li>
	        <li><a style="display:none;" class="yd_khbtn open" href="javascript:void(0)">立即开户</a></li>
	    </ul>
	 </div>
</div>

