<div class="page" id="account_orderQq" data-pageTitle="预约QQ视频认证">
     <header>
    	<a class="back_btn" href="javascript:void(0)"></a>
        <a class="tel_btn" href="javascript:void(0)"></a>
    	<h2>预约见证</h2>
    </header>
    <div class="main">
    	<div class="step_box"><div style="width:40%;"></div></div>
        <div class="info_box">我们客服将在您预约时间内主动联系您完成视频认证</div>
        <div class="yy_spbox">
            <h4 class="yy_tit">选择您的预约时间</h4>
            <div class="yy_date clearfix">
                <span deal_day="星期一">星期一</span>
                <span deal_day="星期二">星期二</span>
                <span deal_day="星期三" class="yy_current">星期三</span>
                <span deal_day="星期四">星期四</span>
                <span deal_day="星期五">星期五</span>
            </div>
            <div class="yy_time mt20">
                <span class="yy_current" deal_time="9-12">早上9:00-12:00</span>
                <span deal_time="12-14">中午12:00-2:00</span>
                <span deal_time="14-17">下午2:00-5:00</span>
            </div>
        </div>
    </div>
    <footer><a class="com_btn" href="javascript:void(0)">立即预约</a></footer>
</div>