<div class="page" id="account_riskAssessmentResult" data-pageTitle="风险测评结果">
	<header>
    	<!--<a class="back_btn" href="javascript:void(0)"></a>-->
        <a class="tel_btn" href="javascript:void(0)"></a>
    	<h2>风险测评结果</h2>
    </header>
    <div class="main">
    	<div class="step_box"><div style="width:80%;"></div></div>
        <div class="info_box mt50">您的风险等级为</div>
        <div class="jg_red" style="display:none">
        	<div class="risk_jgwp">
                <div class="risk_jgspan">风险型</div>
            </div>
        </div>
        <div class="jg_red02" style="display:none">
        	<div class="risk_jgwp">
                <div class="risk_jgspan">积极型</div>
            </div>
        </div>
        <div class="jg_oran" style="display:none">
        	<div class="risk_jgwp">
                <div class="risk_jgspan">成长型</div>
            </div>
        </div>
        <div class="jg_purple" style="display:none">
        	<div class="risk_jgwp">
                <div class="risk_jgspan">稳健型</div>
            </div>
        </div>
        <div class="jg_blue" style="display:none">
        	<div class="risk_jgwp">
                <div class="risk_jgspan">保守型</div>
            </div>
        </div>
        <div class="center mt20"><a class="com_span" href="javascript:void(0)">重新测评</a></div>
    </div>
    <footer><a class="com_btn" href="javascript:void(0)">继续开户</a></footer>
</div>