<div class="page" id="account_signCertificateProtocol" data-pageTitle="安装证书">
	<header>
<!--    	<a class="back_btn" href="javascript:void(0)"></a>-->
        <a class="tel_btn" href="javascript:void(0)"></a>
    	<h2>数字证书安装</h2>
    </header>
    <div class="main">
    	<div class="step_box"><div style="width:60%;"></div></div>
        <div class="agreement_list mt50"><!-- <a href="javascript:void(0)">《个人数字证书申请责任书》</a><br><a href="javascript:void(0)">《网上远程实时视频数字证书风险揭示书》</a>--></div>
        <div class="agreement_opea mt50"><a class="chkbox chkbox_ckd" href="javascript:void(0)">已阅读并同意以上约定书</a></div>
    </div>
    <footer><a class="com_btn" href="javascript:void(0)">下一步</a></footer>
</div>
