<div class="page" id="account_thirdDepository" data-pageTitle="三方存管">
	<header>
    	<!--<a class="back_btn" href="javascript:void(0)"></a>-->
        <a class="tel_btn" href="javascript:void(0)"></a>
    	<h2>三方存管</h2>
    </header>
    <div class="main">
    	<div class="step_box"><div style="width:80%;"></div></div>
        <div class="form_box mt30">
        	<div class="form_item bank_item">
            	<span class="txt_tit">选择银行</span>
                <a class="com_sele" href="javascript:void(0)" id="selectBank">请选择开通银行</a>
            </div>
        </div>
        <p class="bk_infop" id="bindInfo"></p>
        <div class="form_box">
            <div class="form_item">
            	<span class="txt_tit">银行卡号</span>
                <input class="com_txt" type="tel" pattern="\d*" id="bankcard" placeholder="请输入银行卡号" maxlength="19" >
            </div>
            <div class="form_item bank_pass" style="display:none">
            	<span class="txt_tit">银行密码</span>
                <input type="password" class="com_txt" pattern="\d*" id="bankcardPwd" placeholder="请输入银行密码" readonly="readonly" maxlength="6"/>
            </div>
        </div>
        <div class="form_box mt20">
        	<a class="bk_upsuc" style="display:none" href="javascript:void(0)">已上传银行卡</a>
        	<a class="bk_upload" href="javascript:void(0)">点击上传<span>银行卡正面</span></a>
        </div>
        <div class="pz_btn" style="display:none">
	    	<a media-id="null" class="first photo" href="javascript:void(0)">上传</a>
	        <a media-id="null" class="carmera" href="javascript:void(0)">拍照</a>
   		</div>
        <div class="set_pwbox protocolshow" style="display:none">
        	<div><a class="chkbox chkbox_ckd" href="javascript:void(0)">我已阅读并同意</a><span class="com_link" id="protocolName">《客户交易结算资金银行存管协议》</span></div>
        </div>
    </div>
    <footer><a class="com_btn" href="javascript:void(0)">开通三方存管</a></footer>
    <div class="ly_shadow" style="display:none">
    	<div class="bank_ly">
        	<div class="bank_list clearfix">
<!--            	<a class="fl" href="javascript:void(0)"><img src="images/bk/bk0A.gif" height="38"></a>-->
<!--                <a class="fr" href="javascript:void(0)"><img src="images/bk/bk0B.gif" height="38"></a>-->
<!--                <a class="fl" href="javascript:void(0)"><img src="images/bk/bk0C.gif" height="38"></a>-->
<!--                <a class="fr" href="javascript:void(0)"><img src="images/bk/bk0D.gif" height="38"></a>-->
<!--                <a class="fl" href="javascript:void(0)"><img src="images/bk/bk0E.gif" height="38"></a>-->
<!--                <a class="fr" href="javascript:void(0)"><img src="images/bk/bk0F.gif" height="38"></a>-->
<!--                <a class="fl" href="javascript:void(0)"><img src="images/bk/bk0G.gif" height="38"></a>-->
<!--                <a class="fr" href="javascript:void(0)"><img src="images/bk/bk0H.gif" height="38"></a>-->
<!--                <a class="fl" href="javascript:void(0)"><img src="images/bk/bk0I.gif" height="38"></a>-->
<!--                <a class="fr" href="javascript:void(0)"><img src="images/bk/bk0J.gif" height="38"></a>-->
<!--                <a class="fl" href="javascript:void(0)"><img src="images/bk/bk0K.gif" height="38"></a>-->
<!--                <a class="fr" href="javascript:void(0)"><img src="images/bk/bk0L.gif" height="38"></a>-->
            </div>
        </div>
    </div>
</div>
