<div class="page" id="account_uploadPhoto" data-pageTitle="身份验证-上传影像">
	<header>
    	<a class="back_btn" href="javascript:void(0)"></a>
        <a class="tel_btn" href="javascript:void(0)"></a>
    	<h2>上传身份证</h2>
    </header>
    <div class="main">
    	<div class="step_box"><div style="width:40%;"></div></div>
        <div class="info_box">请确保您的二代身份证处于有效期内</div>
  		<div class="upload_box upload01" uploaded="false">
        	<div class="info">
            	<p>点击上传身份证</p>
                <h5>正  面</h5>
            </div>
            <div class="img"><img src="images/img01.jpg" style="display:none;"></div>
        </div>
        <div class="upload_box upload02" uploaded="false">
        	<div class="info">
            	<p>点击上传身份证</p>
                <h5>背  面</h5>
            </div>
            <div class="img" style="display:none;"></div>
        </div>        
    </div>
     <div class="ly_shadow" style="display:none;">
    	<div class="up_toll" style="display:none;">
        	<a media-id="null" class="pz" href="javascript:void(0)">拍照</a>
            <a media-id="null" class="xc" href="javascript:void(0)">相册</a>
        </div>
        <div class="up_info" style="display:none;">正<br>面</div>
    </div>
    <div class="pz_box" style="display:none;"><img src="images/img01.jpg" width="100%"></div>
    <div class="pz_btn" style="display:none;">
    	<a class="first" href="javascript:void(0)">上传</a>
        <a href="javascript:void(0)">重拍</a>
    </div>
    <footer><a class="com_btn" href="javascript:void(0)">下一步</a></footer>
</div>