<div class="page" id="account_videoNotice" data-pageTitle="视频认证-注意事项">
	<!-- 
	<header class="header">
		<a href="javascript:void(0)" class="icon_back"></a>
    	<h3>视频认证 - 注意事项</h3>
    	<h3 style="display:none">视频见证驳回</h3>
    </header>
	<section class="main">
        <div class="step_box top_step">
            <ul class="step_li clearfix">
            	<li class="active" ><span>实名验证</span><em></em></li>
            	<li><span>开立账户</span><em></em></li>
                <li><span>开户确认</span><em></em></li>
            </ul>
        </div>
        <div class="error_notice" style="display:none">
        	<h5>很抱歉，您尚未开通股东或基金账户！</h5>
        	<p>请点击 视频见证 开通相关账户</p>
        </div>
        <div class="error_notice" style="display:none">
        	<h5>很抱歉，您的视频见证未通过！</h5>
        </div>
        <div class="camera_notice">
        	<p>接下来将由我司工作人员与您进行视频连线，
请做好以下准备：</p>
			<ul class="clearfix">
            	<li><span></span><p>光线充足的位置</p></li>
                <li><span></span><p>周边环境安静</p></li>
                <li><span></span><p>请勿遮挡面部</p></li>
                <li><span></span><p>视频认证时间<br>工作日9:00~16:00</p></li>
        	</ul>
        </div>
        <div class="camera_notice" style="display:none">
        	<p>温馨提示：尊敬的客户，您的提交的资料未通过审核，请您根据客服人员指示，选择返回重新提交资料！</p>
        </div>
        <div class="c_link none">
        	<a href="javascript:void(0)">申请QQ视频见证></a>
        </div>
        <div class="photo_again" style="display:none">
    		<div class="go_order">
        		<a href="javascript:void(0)">重新上传照片</a>
        	</div>
    	</div>
    	<div class="info_again" style="display:none">
    		<div class="go_order">
        		<a href="javascript:void(0)">重新提交资料</a>
        	</div>
    	</div>
    </section>
    <div class="fix_bot">
		<div class="ct_btn">
        	<a href="javascript:void(0)">我准备好了 ></a>
        </div>
        <div class="ct_btn" style="display:none">
        	<a href="javascript:void(0)">继续开户 ></a>
        </div>
    </div>
     -->
     <header>
    	<a class="back_btn" href="javascript:void(0)"></a>
        <a class="tel_btn" href="javascript:void(0)"></a>
    	<h2>视频见证</h2>
    	<h2 style="display:none">视频见证驳回</h2>
    </header>
    <div class="main jobTimeVideo" style="display:none">
    	<div class="step_box"><div style="width:40%;"></div></div>
        <div class="info_box">请做好以下准备，进入视频见证</div>
        <div class="sp_zbbox mt50">
        	<span class="s1">身份证</span>
            <span class="s2">明亮环境</span>
        </div>
    </div>
     <div class="main"  style="display:none">
    	<div class="step_box"><div style="width:40%;"></div></div>
        <div class="sp_box">
        	<div class="wait_contbox">正在安排客服为您提供服务<br>请稍等……</div>
        </div>
        <div class="wait_bot">
        	<div class="wait_info">
            	<p>当前排队人数</p>
                <p class="pd_num">1人</p>
                <a class="kh_btn mt5" href="javascript:void(0)">预约见证</a>
                <a class="kh_btn mt5" href="javascript:void(0)">取消排队</a>
            </div>
            <div class="wait_mysp">您的影像</div>
        </div>
    </div>
    <div class="sping_box" style="display:none">
    	<div class="kf_spbox">
        	<span class="tit">客服人员</span>
        	<div class="info">此处显示文字信息</div>
            <div></div>
        </div>
        <div class="sp_opeabox"><a class="kh_btn" href="javascript:void(0)">结束视频</a></div>
        <div class="my_spbox">
        	<div></div>
            <div class="info">您的影像</div>
        </div>
    </div>
     <div class="main" style="display:none">
    	<div class="step_box"><div style="width:40%;"></div></div>
        <div class="sp_box">
        	<div class="wait_contbox">当前没有客服在线，请稍等</div>
        </div>
        <div class="wait_bot">
        	<div class="wait_info">
            	<p>当前排队人数</p>
                <p class="pd_num">1人</p>
                <a class="kh_btn mt5" href="javascript:void(0)">预约见证</a>
                <a class="kh_btn mt5" href="javascript:void(0)">取消排队</a>
            </div>
            <div class="wait_mysp">您的影像</div>
        </div>
    </div>
    <div class="main notJobTimeVideo" style="display:none">
    	<div class="step_box"><div style="width:40%;"></div></div>
        <div class="center mt50">
        	<span class="yuyue_ic">当前为非工作时间<br>您可申请预约见证</span>
        </div>
    </div>
    <footer style="display:none"><a class="com_btn c_link" href="javascript:void(0)">预约见证</a></footer>
    <footer><a class="com_btn ready" href="javascript:void(0)">我准备好了</a></footer>
</div>